.footer{
	display: flex;
	flex-direction: column;
	background-color: rgb(122, 122, 122);
	/* margin: 5px; */
	box-shadow: 1px 0.1px 0.9px 1px rgb(1, 1, 1);
}
.content{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 150px;
	margin: 10px;
}
.top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 3px;
	border-bottom: 1px solid rgb(106, 90, 205);
	background-color: rgb(196, 195, 195);
}
.bottam{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(196, 195, 195);
    padding:5px 8px;	
}
.b-text{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.b-h3{
	margin-right: 9px;
}
.block{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 140px;
	margin: auto;
}
.text{
	width: 170px;
	font-weight: 550;
	line-height: 97%;
}
.underline{	
	width: 40px;
	border: 1px solid greenyellow;
	margin-bottom: 8px;
}
.title{
	text-align: center;
}
.li{
	list-style-type: none;
	text-align: center;
}

@media screen and (max-width:425px) {
	.footer{
		margin: 0px 15px;
	}
	.top{
		width: 730px;
		color: bisque;
		background-color: black;
	}
	.content{
		width: 745px;
		background-color: aqua;
		
	}
	.bottam{
		width: 730px;
		color: bisque;
		font-weight: 500;
	}

}
